<template>
  <style>
    .side-nav .li[md-waves] {
      display: block;
    }
  </style>
  <require from="./nav-bar-list.html"></require>
  <md-navbar md-fixed="true">
    <a show.bind="authenticated" md-sidenav-collapse="ref.bind: sideNav;" class="left hide-on-large-only"
      style="cursor: pointer; padding: 0 10px;"><i class="material-icons">menu</i>
    </a>
    <a href="#" class="brand-logo">${router.title}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <nav-bar-list router.bind="router" authenticated.bind="authenticated" logout.call="logout()"></nav-bar-list>
    </ul>
  </md-navbar>

  <md-sidenav md-close-on-click="true" view-model.ref="sideNav">
    <ul>
      <nav-bar-list router.bind="router" authenticated.bind="authenticated" logout.call="logout()"></nav-bar-list>
    </ul>
  </md-sidenav>
</template>
