<template>
  <style>
    .side-nav .li[md-waves] {
      display: block;
    }
  </style>
  <require from="./nav-bar-list.html"></require>
  <require from="./nav-bar-filters.html"></require>

  <md-navbar md-fixed="true">
    <a show.bind="authenticated" md-sidenav-collapse="ref.bind: sideNav;" class="left hide-on-large-only"
      style="cursor: pointer; padding: 0 10px;"><i class="material-icons">menu</i>
    </a>
    <div>
        <a href="#!" class="brand-logo"><i class="material-icons">lightbulb_outline</i>${router.title}</a>
    </div>
    <div show.bind="authenticated && showFilters" class="filters" style="width: 200px">
      <nav-bar-filters years.bind="years" months.bind="months" on-change.call="selectChange(ev)"></nav-bar-filters>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <nav-bar-list router.bind="router" show-filters.bind="showFilters" authenticated.bind="authenticated"
      logout.call="logout()" refresh-dashboard.call="refreshDashboard()"></nav-bar-list>
    </ul>
  </md-navbar>
  <md-sidenav md-close-on-click="true" view-model.ref="sideNav">
    <ul>
      <nav-bar-list router.bind="router" show-filters.bind="showFilters" authenticated.bind="authenticated"
      logout.call="logout()" refresh-dashboard.call="refreshDashboard()"></nav-bar-list>
    </ul>
  </md-sidenav>
</template>
