<template>
  <div>
    <h4>Manage Users</h4>
    <require from="./user-list.html"></require>
    <div class="container">
      <div>
        <md-input md-placeholder="Enter user name" view-model.ref="nameFilter" keyup.delegate="nameChanged($event)">
          <i md-prefix class="material-icons">face</i>
        </md-input>
      </div>
      <div>
        <user-list users.bind="filteredUsers"></user-list>
      </div>
      <div>
        <md-pagination if.bind="numberOfPages>1" md-on-page-changed.delegate="pageChanged($event)"
        md-pages.two-way="numberOfPages" md-active-page.bind="activePage" md-visible-page-links="10">
        </md-pagination>
      </div>
    </div>
  </div>
</template>
