.dashboard-container {
  margin: 0 auto;
  width: 98%;
}

.dashboard-block {
  padding-bottom: .5em !important;
}

.bar-block {
  @extend .col, .s12, .m12, .l4;
}

.pie-block, .radar-block {
  @extend .col, .s12, .m6, .l2;
}

.radar-block {
  @extend .col, .s12, .m6, .l3;
}

.dashboard-chart {
  @extend .card;
  .card-content {
    padding: 5px !important;
  }
}

.pie-style {
  // @extend .center-align;
  width: 80% ;
  height: 80%;
  margin: auto;
  display: block;
}

.radar-style {
  width: 80% ;
  height: 80%;
  margin: auto;
  display: block;
}

.bar-style {
  width: 100%;
  height: 100%;
  display: block;
}

#card-stats .card .card-content {
    padding: 10px 14px;
}

#card-stats .card-content {
  text-align: center;
}

.anulaciones {
  .card {
    height: 294px;
  }
  .card-content {
    max-height: 290px;
    overflow-y: auto;
    .anulaciones-list-wrapper {
      p {
        color:red;
        font-size:1.2em;
        font-style:italic;

      }
    }
  }
}
