.nav-bar {
  color: $secondary-color
}

#nav-mobile .material-icons {
  @extend .nav-bar;
}

md-navbar .material-icons {
  @extend .nav-bar;
}

.brand-logo {
  padding-left: 20px !important;
}

.filters-wrapper {
  position: absolute; left: 30%;
  background-color: white;
  max-height: 64px;
  color:$primary-color;
  .filter-container {
    width:200px;
  }
}
