<template bindable="anulaciones">
  <div class="card">
    <div class="card-content">
      <a class="btn-floating activator orange right">
        <i class="material-icons">more_vert</i>
      </a>
      <span class="card-title grey-text text-darken-4">
        Anulaciones
      </span>
      <div class="anulaciones-list-wrapper">
        <md-collection>
          <md-collection-item repeat.for="anulacion of anulaciones" class="accent-text avatar">
          <i class="circle material-icons ${anulacion.color}">${anulacion.icon}</i>
          <span class="title">${anulacion.tipo}</span>
          <p>${anulacion.observacion}</p>
          <div class="secondary-content">
            <span>${anulacion.fecha}</span>
          </div>
        </md-collection-item>
        </md-collection>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Anulaciones
        <a class="btn-floating activator orange right">
          <i class="material-icons">undo</i>
        </a>
      </span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</template>
