<template bindable="anulaciones">
  <div class="card">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Anulaciones
        <i class="mdi-navigation-close right"></i>
      </span>
      <div class="anulaciones-list-wrapper">
        <md-collection>
          <md-collection-item repeat.for="anulacion of anulaciones" class="accent-text avatar">
          <i class="circle material-icons ${anulacion.color}">${anulacion.icon}</i>
          <span class="title">${anulacion.tipo}</span>
          <p>${anulacion.observacion}</p>
          <div class="secondary-content">
            <span>${anulacion.fecha}</span>
          </div>
        </md-collection-item>
        </md-collection>
      </div>
    </div>
  </div>
</template>
