<template>
    <div>
      <div class="row">
        <div class="dashboard-block bar-block">
          <div class="dashboard-chart">
            <canvas id="ventas-anuales-chart"></canvas>
          </div>
        </div>
        <div class="dashboard-block bar-block">
          <div class="dashboard-chart">
            <canvas id="ventas-semanales-chart"></canvas>
          </div>
        </div>
        <div class="dashboard-block bar-block">
          <div class="dashboard-chart">
            <canvas id="ventas-compras-chart"></canvas>
          </div>
        </div>
        <div class="dashboard-block bar-block">
          <div class="dashboard-chart">
            <canvas id="platos-vendidos-chart"></canvas>
          </div>
        </div>
        <div class="dashboard-block pie-block">
          <div class="dashboard-chart">
            <canvas id="productos-vendidos-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
</template>
