<template>
    <div>
      <div class="row">
        <div class="dashboard-block bar-block">
          <div class="dashboard-chart">
            <chart type="bar" class="bar-style"
            should-update="true" throttle="2000" data.bind="barData"></chart>
          </div>
        </div>
        <div class="dashboard-block bar-block">
          <div class="dashboard-chart">
            <chart type="bar" class="bar-style" should-update="true" throttle="2000" data.bind="semanal"></chart>
          </div>
        </div>
        <div class="dashboard-block bar-block">
          <div class="dashboard-chart">
            <chart type="line" class="bar-style"
            should-update="true" throttle="2000" data.bind="lineData"></chart>
            <!-- <canvas id="line-chart" chart="type: line; should-update: false; data.bind: lineData"></canvas> -->
          </div>
        </div>
        <div class="dashboard-block pie-block">
          <div class="dashboard-chart">
            <chart type="doughnut" class="pie-style" should-update="true" throttle="2000"
            data.bind="DynamicDoughnutData"></chart>
          </div>
        </div>
        <div class="dashboard-block pie-block">
          <div class="dashboard-chart">
            <chart type="pie" class="pie-style"
            should-update="true" throttle="2000" data.bind="DynamicDoughnutData"></chart>
          </div>
        </div>

        <div class="dashboard-block pie-block">
          <div class="dashboard-chart">
            <chart type="doughnut" class="pie-style"
            should-update="true" throttle="2000" data.bind="DynamicDoughnutData"></chart>
          </div>
        </div>
        <div class="dashboard-block pie-block">
          <div class="dashboard-chart">
            <chart type="doughnut" class="pie-style"
            should-update="true" throttle="2000" data.bind="DynamicDoughnutData"></chart>
          </div>
        </div>
        <div class="dashboard-block pie-block">
          <div class="dashboard-chart">
            <chart type="doughnut" class="pie-style"
            should-update="true" throttle="2000" data.bind="DynamicDoughnutData"></chart>
          </div>
        </div>
        <div class="dashboard-block pie-block">
          <div class="dashboard-chart">
            <chart type="doughnut" class="pie-style"
            should-update="true" throttle="2000" data.bind="DynamicDoughnutData"></chart>
          </div>
        </div>
        <div class="dashboard-block radar-block">
          <div class="dashboard-chart">
            <chart type="radar" class="radar-style"
            should-update="true" throttle="2000" data.bind="radarData"></chart>
          </div>
        </div>

        <!-- <div class="dashboard-block col s12" style="border: 1px solid red;">
          <div>dwdwdw wd wd w dw dw w dw qd q q qdqwdqdqw q q q dqd q q q q qw wq </div>
        </div> -->
      </div>

      <!-- <div>
          <label>Values</label>
          <div repeat.for="i of DynamicDoughnutData.datasets[0].data.length">
              <input value.bind="DynamicDoughnutData.datasets[0].data[i]" placeholder="Value ${$index + 1}"/>
          </div>
      </div>

      <p>Both charts are using the same dataset behind the scenes, so changing one will change both.</p>
      <p>Changing the above value should trigger a chart refresh after 2 seconds</p>
      <p>Although dynamically added entries will not be tracked currently</p>
      <button click.delegate="addEntry()">Add Entry</button>
      <button click.delegate="resetPieData()">Reset</button> -->
    </div>
</template>
